<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aitos.xenon.account.mapper.AccountRewardMapper">

    <sql id="tableName">account_reward</sql>

    <insert id="batchSave" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tableName"/> (address,account_type,owner_address,amount,hash,height,reward_percent,create_time)
        value
            <foreach collection="accountRewardList" item="item" open="(" close=")" separator=",">
                #{item.address},#{item.accountType},#{item.ownerAddress},#{item.amount},#{item.hash},#{item.height},#{item.rewardPercent},#{item.createTime}
            </foreach>
    </insert>

    <select id="statisticsRewards" resultType="java.math.BigDecimal">
        select IFNULL(sum(amount),0) from  <include refid="tableName"/> where address=#{address} and create_time &gt;=#{startTime} and create_time &lt;=#{endTime}
    </select>
    <select id="statisticsTotalRewards"
            resultType="com.aitos.xenon.account.api.domain.vo.AccountRewardStatisticsVo">
        select IFNULL(sum(amount),0) as totalReward,IFNULL(avg(amount),0) as avgReward from  <include refid="tableName"/> where address=#{address}
    </select>
</mapper>
