<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aitos.xenon.device.mapper.DeviceDetialMapper">

    <sql id="tableName">device_detial</sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tableName"/> (start_height,energy,capabilities,device_model,device_serial_num,sGVoltage,sGCurrent,sGPowerLow,device_id,location_type,latitude,longitude,h3index,
        sGPowerHigh,sBVoltage,sBCurrent,sBPowerLow,sBPowerHigh,sLVoltage,sLCurrent,sLPowerLow,sLPowerHigh,totalChargeVol,totalUsageVol,create_time)
        value (#{startHeight},#{energy},#{capabilities},#{deviceModel},#{deviceSerialNum},#{sGVoltage},#{sGCurrent},#{sGPowerLow},#{deviceId},#{locationType},#{latitude},#{longitude},#{h3index},
            #{sGPowerHigh},#{sBVoltage},#{sBCurrent},#{sBPowerLow},#{sBPowerHigh},#{sLVoltage},#{sLCurrent},#{sLPowerLow},#{sLPowerHigh},#{totalChargeVol},#{totalUsageVol},NOW())
    </insert>
    <update id="update">
        update <include refid="tableName"/>
            <set>
                start_height=#{startHeight},energy=#{energy},capabilities=#{capabilities},device_model=#{deviceModel},device_serial_num=#{deviceSerialNum},
                sGVoltage=#{sGVoltage},sGCurrent=#{sGCurrent},sGCurrent=#{sGCurrent},sGPowerLow=#{sGPowerLow},sGPowerHigh=#{sGPowerHigh},sGPowerHigh=#{sBVoltage},
                sBVoltage=#{sBVoltage},sBCurrent=#{sBCurrent},sBPowerLow=#{sBPowerLow},sBPowerHigh=#{sBPowerHigh},sLVoltage=#{sLVoltage},sLCurrent=#{sLCurrent},
                sLPowerLow=#{sLPowerLow},sLPowerHigh=#{sLPowerHigh},totalChargeVol=#{totalChargeVol},totalUsageVol=#{totalUsageVol},update_time=now()
            </set>
        where device_id=#{deviceId}
    </update>
    <select id="findByDeviceId" resultType="com.aitos.xenon.device.domain.DeviceDetial">
        select * from <include refid="tableName"/> where device_id=#{deviceId}
    </select>
</mapper>
