<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aitos.xenon.block.mapper.BlockMapper">

    <sql id="tableName">block</sql>

    <insert id="save">
        insert into <include refid="tableName"/> (height,block_interval_time,create_time)
        values(#{height},#{blockIntervalTime},#{createTime})
    </insert>

    <select id="getCurrentBlock" resultType="com.aitos.xenon.block.domain.Block">
        select * from <include refid="tableName"/> order by height desc  limit 1
    </select>
    <select id="list" resultType="com.aitos.xenon.block.api.domain.vo.BlockVo">
        select b.*,t.amountTransaction from block b left join
            (select height,count(1) AS amountTransaction from transaction group by height) t
            on b.height =t.height
        <where>
            <if test="queryParams.height!=null">
                b.height=#{queryParams.height}
            </if>
        </where>
        order by b.create_time desc
    </select>

</mapper>
