<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aitos.xenon.block.mapper.EpochRewardMapper">

    <sql id="tableName">epoch_reward</sql>

    <select id="findByEpoch" resultType="com.aitos.xenon.block.domain.EpochReward">
        select * from <include refid="tableName"/> where start_epoch &lt;=#{epoch} and end_epoch &gt;= #{epoch}
    </select>
</mapper>
