@font-face {
  font-family: "iconfont";
  src: url('/src/assets/font/iconfont.ttf?t=1660703406802') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chongzhi360:before {
  content: "\e6bc";
}

.icon-shijian:before {
  content: "\e638";
}

.icon-gongshuai:before {
  content: "\e668";
}

.icon-weizhi:before {
  content: "\e633";
}

